@charset "UTF-8";
/* Styles CSS */

/* ----------General Styles---------- */

	/* Body */
	
	body {
		margin: 0;
		padding: 0;
		font-family:Century Gothic, Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-style: normal;
		font-size: 1em;
		color: #3d2f24;
		background-color: #A7C7C6;
	}
	
	/* Headlines */
	
	h1, h2, h3 {
		font-family:Akashi, Arial, Helvetica, sans-serif;
	}
	
	/* Classes */
	
	.zeroTopMargin {
		margin-top: 0px;
	}
	
	.middleContainer {
		width: 960px;
		margin: 0 auto 0 auto;
	}
	.youtubeVideo {
		width: 560px;
		height: 315px;
	}
	.navMarginA {
		display: inline;
		list-style-type: none;
		margin-right: 35px;
	}
	.navMarginB {
		display: inline;
		list-style-type: none;
		margin-right: 0px;
	}
	.group {
		margin-bottom: 50px;
	}
	.file {
		width: 256px;
		padding-right: 32px;
		padding-left: 32px;
		padding-bottom: 30px;
		float: left;
	}
	.clearBoth {
		clear: both;
	}

/* ----------Content Styles---------- */

	/* Container */
	
	#container { 
		margin: 0 auto 0 auto;
		padding: 0 50 0 50;
		background-color: #182628;
	}
	
	/* Header */
	
	header {
		height: 100px;
		margin: 0 auto 0 auto;
		font-family:Akashi, Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-style: normal;
		color: #a7c7c6;
		background-color: #20575a;
		-moz-box-shadow: 0px 2.5px 5px #000000;
		-webkit-box-shadow: 0px 2.5px 5px #000000;
		box-shadow: 0px 2.5px 5px #000000;
	}
	
	header #headerTitle {
		position: relative;
		top: 50px;
		left: 125px;
	}
	
	#logo {
		position: absolute;
		top: 25px;
	}
	
		/* header nav */
		
		#headerNav ul {
			margin-right: 15px;
			padding-left: 15px;
			text-align: right;
			position: relative;
			top: 5px;
		}
		
		#headerNav a:link {
			font-family:Akashi, Arial, Helvetica, sans-serif;
			text-decoration: none;
			color: #a7c7c6;
		}
		
		#headerNav a:visited {
			font-family:Akashi, Arial, Helvetica, sans-serif;
			text-decoration: none;
			color: #a7c7c6;
		}
		
		#headerNav a:hover {
			font-family:Akashi, Arial, Helvetica, sans-serif;
			text-decoration: none;
			color: #172628;
		}
		
		#headerNav a:active {
			font-family:Akashi, Arial, Helvetica, sans-serif;
			text-decoration: none;
			color: #a7c7c6;
		}
	
	/* Main */
	
	main {
		width: 960px;
		margin: 50px auto;
		padding: 50px;
		background-color: #f2eee1;
		-moz-box-shadow: 0 0 10px #000000;
		-webkit-box-shadow: 0 0 10px #000000;
		box-shadow: 0 0 10px #000000;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
	}
	
	/* Index */
		
	#homeVideo {
		width: 560px;
		height: 315px;
		margin: 0px auto 25px auto;
	}
	
	/* Portfolio */
	
	main .group h2 {
		text-align: center;
		border-bottom: medium solid;
		margin-top: 0px;
		padding-bottom: 15px;
		margin-bottom: 30px;
	}
	
	main .groupEnd h2 {
		text-align: center;
		border-bottom: medium solid;
		margin-top: 0px;
		padding-bottom: 15px;
		margin-bottom: 30px;
	}
	
	/* Footer */
	
	footer {
		padding: 15px 15px 15px 15px;
		color: #ffffff;
		background-color: #a7c7c6;
	}
	
	footer #footerCopyright {
		text-align: center;
	}

		/* footer nav */
		
		#footerNav ul {
			text-align: center;
		}
		
		#footerNav ul li {
			display: inline;
			list-style-type: none;
			margin-right: 50px;
		}
